@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-in-dis {
    from {
        display: block;
        opacity: 0;
    }
    
    to {
        display: block;
        opacity: 1;
    }
}

