.feature-container {
    padding-right: 3.28125rem;
    padding-left: 3.28125rem;
    background-color: $lightGrayishBlue;
    text-align: center;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    @include breakpoint-up(large) {
        text-align: left;
        padding-right: 10.1875rem;
        padding-left: 10.75rem;
        margin-top: -15px;
        padding-top: 3.875rem;
        padding-bottom: 3.875rem;
    }

    .feature-text {

        @include breakpoint-up(large) {
            width: 38.437rem;
            margin-bottom: 60px;
        }

        h2 {
            color: $darkblue;
            font-weight: 300;
        }

        p {
            font-size: 1rem;
        }

  }

  .feature-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @include breakpoint-up(medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
        grid-template-columns: repeat(4, 1fr);
    }

    h3 {
        margin-top: 30px;
        color: $darkblue;
        font-weight: 300;
    }

    p{
        margin-top: 25px;
        font-size: 1rem;
    }

    // .feature-item {

    //     .feature-icon {

    //     }

    //     .feature-title {

    //     }

    //     .feature-description {

    //     }
    // }



  }


}